version: '3.5'
services:
  biwenger-api:
      build: .
      image: pablopb3/biwenger-api
      container_name: biwenger-api
      restart: unless-stopped
      networks:
        - biwenger-network
      expose:
         - 8080
      ports:
         - "8080:8080"
      depends_on:
        - mongodb

  mongodb:
      image: mongo:latest
      environment:
          MONGO_INITDB_DATABASE: biwenger
      container_name: biwenger-mongo
      volumes:
         - ./data/mongodb:/data/db
         - ./db-scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      networks:
        - biwenger-network
      expose:
        - 27017
      ports:
        - "27017:27017"
      restart: unless-stopped

networks:
   biwenger-network:
      name: biwenger-network
      driver: bridge